*{
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;   
}
.title{
    align-content: left;
    width: 70px;
    margin: 10px;
    display: inline-block;
}

.logintext{
    margin-bottom: 1%;
    font-weight: bolder;
}

.enemylogo{
    width: 70px;
    margin: 10px;
}
.enemylogo:hover{
    cursor: pointer;
    border-radius: 100%;
    background-color: rgba(0,0,0,0.20);
}
.logoContainer{
    width: auto;
    display: inline-block;
    float: left;
}
.navButton{
    margin-left: 90px;
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    text-shadow: -1.5px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: aliceblue;
}
#navGrid{
    width: 50%;
    height: inherit;
    min-height: inherit;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#expander{
    margin-top: 1.5%;
    margin-left: 1vw;
    width: 65px;
    cursor: pointer;
    display: inline-block;
}
#expander:hover{
    border-radius: 100%;
    background-color: rgba(0,0,0,0.20);
}

#squadCard{
    position: fixed;
    top : 0;
    left : 95%;
    width: 50%;
    height: 92px;
    background-color: rgba(60,70,75,1);
    border-radius: 6px;
    border-style: solid;
    border-width: 0;
    border-left-width: 2px;
    box-shadow: -2px 0px 12px rgba(0,0,0,0.4);

    animation-play-state: running;
    animation-fill-mode: both;
}
.expand{
    animation-name: expandOut;
    animation-duration: 1s;
}
.collapse{
    animation-name: collapseIn;
    animation-duration: 3s;
}
@keyframes expandOut{
 from {left: 95%;}
 to{left: 60%;}
}
@keyframes collapseIn{
    from{left: 60%;}
    to{left:95%;}
}
#rosterGrid{
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.squadImg{
    width: 5vw;
    max-width: 50px;
    margin-left: 2vw;
}
.squadImg:hover{
    cursor: pointer;
    border-radius: 100%;
    background-color: rgba(0,0,0,0.20);
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /* left: 80.5%; */
    right: -12px;
    top: 92px;
    min-width: 305px;
    width: 19.5%; /* Full width */
    height: 80%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    overflow-x: hidden;
    background-color: rgba(0,0,0,0.69); /* Black w/ opacity */
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.42);
}
.emodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /* left: 80.5%; */
    top: 260px;
    min-width: 200px;
    width: 16%; /* Full width */
    height: 80%; /* Full height */
    left: 42%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.69); /* Black w/ opacity */
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.42);
}

.modal-content{
    margin-top: 8%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 8%;
    padding: 2%;
    border: 1px solid #888;
    width: 90%; 
    min-height: 80%;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;

}
.modalResult{
    height: 80px;
    width: 100%;
    display: inline-block;

}
.enemyModalResult{
    height: 80px;
    width: 100%;
    display: inline-block;
}
.enemyModalResult:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.20);
    font-stretch: expanded;
}
.compareResult{
    height: 80px;
    width: 100%;
}
.compareList{
    width : 100%;
    max-height : 100%;
    overflow-y: scroll;
}
.closeSpan{
    color: rgb(255, 255, 255);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.topNavBar
{
    align-content: center;
    height: 92px;
    width: 100%;
    background-image: linear-gradient(108deg, lightslategrey 25%, #6e8091 25%, #6e8091 50%, lightslategrey 50%, lightslategrey 75%, #6e8091 75%, #6e8091 100%);
    background-size: 10.00px 30.7775px;
    position: fixed;
    top: 0;
}
.mainContainer
{
    margin: auto;
    background-image:
    linear-gradient(90deg, rgba(47,67,78,0.90) 0%, rgba(65,79,86,0.90) 50%, rgba(47,67,78,0.90) 100%),
    url('typeimg/bg.jpg');
    height: 90vh;
    width: 100%;
    margin-top: 92px;
    overflow: scroll;
    overflow-x: hidden;
}
.mainContent
{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    
}
.smallImg
{
    width: 128px;
    height : 128px;
    margin: 7px;
    border-radius: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: radial-gradient(circle, rgba(128,161,179,1) 0%, rgba(81,98,106,1) 50%, rgba(65,79,86,1) 100%);
}
.smallImgModal
{
    float: left;
    width: 64px;
    height : 64px;
    margin: 7px;
    border-radius: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: radial-gradient(circle, rgba(128,161,179,1) 0%, rgba(81,98,106,1) 50%, rgba(65,79,86,1) 100%);
}
.imgCard
{
    height: auto;
    margin: 4px;
    display: inline-block;
    border-radius: 10%;
    vertical-align: text-bottom;
    background-color: rgba(0,0,0,0.35);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid;
    border-color: rgba(0,0,0,0.20);
}
.imgCard:hover{
    background-color: rgba(0,0,0,0.60);
    cursor: pointer;
}
.compareCard
{
    height: auto;
    margin: 4px;
    display: inline-block;
    border-radius: 10%;
    vertical-align: text-bottom;
    background-color: rgba(0,0,0,0.35);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid;
    border-color: rgba(0,0,0,0.20);
}
.compareCard:hover{
    background-color: rgba(0,0,0,0.60);
    cursor: pointer;
}

/*#region Compare Grid*/
.compareGrid{
    margin-top: 28px;
    display: grid;
    grid-template-areas: 
    '. . . . . . . . . . . .'
    '. . e1 e1 . . . . e2 e2 . .'
    '. . e1 e1 . . . . e2 e2 . .'
    '. . e1G1 . . . . . . e2G1 . .'
    '. . e1G2 . . . . . . e2G2 . .'
    '. . g1G1 h3t h3t h3t h1lt h2t h2t g2G1 . .'
    '. . g1G2 . . g12 g12 . . g2G2 . .'
    '. g1 g1 . . g12 g12 . . g2 g2 .'
    '. g1 g1 . . g12 g12 . . g2 g2 .'
    '. g1 g1 . . . . . . g2 g2 .'
    '. . . . . . . . . . . .'
    '. . . . . . . . . . . .';

}
#enemy1G{
    grid-area: e1; height: auto;
    text-align: center;
    margin: 4px;
    display: inline-block;
    border-radius: 5%;
    vertical-align: text-bottom;
    background-color: rgba(0,0,0,0.35);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid;
    border-color: rgba(0,0,0,0.20);
}
#enemy2G{
    grid-area: e2; height: auto;
    text-align: center;
    margin: 4px;
    display: inline-block;
    border-radius: 5%;
    vertical-align: text-bottom;
    background-color: rgba(0,0,0,0.35);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid;
    border-color: rgba(0,0,0,0.20);
}
#e1G1{ grid-area: e1G1;}
#e1G2{ grid-area: e1G2;}
#e2G1{ grid-area: e2G1;}
#e2G2{ grid-area: e2G2;}
#g1G1{ grid-area: g1G1;}
#g1G2{ grid-area: g1G2;}
#g2G1{ grid-area: g2G1;}
#g2G2{ grid-area: g2G2;}
#h3t{ grid-area: h3t;}
#h1lt{ grid-area: h1lt;}
#h2t{ grid-area: h2t;}
#good1G{
    text-align: center;
    align-content: center;
    grid-area: g1;
    margin: 4px;
    display: inline-block;
    border-radius: 5%;
    vertical-align: text-bottom;
    background-color: rgba(0,0,0,0.35);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid;
    border-color: rgba(0,0,0,0.20);
}
#good2G{
    text-align: center;
    grid-area: g2;
    margin: 4px;
    display: inline-block;
    border-radius: 5%;
    vertical-align: text-bottom;
    background-color: rgba(0,0,0,0.35);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid;
    border-color: rgba(0,0,0,0.20);
}
#good12G{
    
    grid-area: g12;
    margin: 4px;
    display: inline-block;
    border-radius: 5%;
    vertical-align: text-bottom;
    background-color: rgba(0,0,0,0.35);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid;
    border-color: rgba(0,0,0,0.20);
}

.lR{
    border-right: 4px solid; 
}
.lRT{
    border-right: 4px solid;
    border-top: 4px solid;
}
.lL{
    border-left: 4px solid; 
}
.lLB{
    border-left: 4px solid;
    border-bottom: 4px solid; 
}
.lLT{
    border-left: 4px solid;
    border-top: 4px solid;
}
.lT{
    border-top: 4px solid;
}

.cG{
    min-width: 50px;
    min-height: 100px;
    max-height: 20%;
}
/*#endregion */

.temName
{
    color: aliceblue;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.51);
    background: linear-gradient(90deg, rgba(47,67,78,0.0) 10%, rgba(65,79,86,1) 50%, rgba(47,67,78,0.0) 90%);
    
}
.temNameModal
{
    width: 50%;
    height: 64px;
    margin-top: 7px;
    vertical-align: middle;
    color: aliceblue;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.51);
    background: linear-gradient(90deg, rgba(47,67,78,0.0) 10%, rgba(65,79,86,1) 50%, rgba(47,67,78,0.0) 90%);
    display: inline-block;
}
.modalSelectButton{
    margin-top: 12px;
    margin-right: 15px;
    float: right;
    width: 48px;
    height: 48px;
    display: inline-block;
}
.temType
{
    font-size: 13px;
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.51);
    margin-bottom: 0.5vh;
    background: linear-gradient(90deg, rgba(47,67,78,0.0) 10%, rgba(65,79,86,1) 50%, rgba(47,67,78,0.0) 90%);
    /* background: radial-gradient(circle, rgba(177,177,177,1) 6%, rgba(96,108,111,0.44159662155877977) 36%, rgba(30,0,36,0) 68%); */
}
.mySearchBar {
    color: aliceblue;
    margin-bottom: 10px;
    background-color: rgba(0,0,0,0.35);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.20);
    position: fixed;
    top: 92px;
    width: 100%;
}
.mySearch {
    color: aliceblue;
    height: 30px;
    width: auto;
    background-color: transparent;
    border-color: transparent;
}
.mySearch:hover,
.mySearch:focus{
    color: aliceblue;
    background-color: #414F56;
    outline: none;
}
.neutral
{
    font-weight: bolder;
    color:#e6f7f7;
}
.fire
{
    font-weight: bolder;
    color:#e85c4e;
}
.water
{
    font-weight: bolder;
    color:#45cbff;
}
.nature
{
    font-weight: bolder;
    color:#adde77;
}
.electric
{
    font-weight: bolder;
    color:#ffe274;
}
.earth
{
    font-weight: bolder;
    color:#ba795c;
}
.mental
{
    font-weight: bolder;
    color:#c369a3;
}
.wind
{
    font-weight: bolder;
    color:#08fab3;
}
.digital
{
    font-weight: bolder;
    color:#a4c0c1;
}
.melee
{
    font-weight: bolder;
    color:#fc9361;
}
.crystal
{
    font-weight: bolder;
    color:#eb4a68;
}
.toxic
{
    font-weight: bolder;
    color:#5c565c;
}
.image
{
    vertical-align: -2px;
    height: 15px;
    width: 15px;
}
.select {
    vertical-align: middle;
    position: relative;
    display: inline-block;
    width:170px;
}    .select select {
        font-family: 'Arial';
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 10px 15px;
        outline: 0;
        border: 0px solid #000000;
        border-radius: 0px;
        background: transparent;
        color: aliceblue;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
        .select select:hover,
        .select select:focus {
            background-color: #414F56;
        }
.select_arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0px 5px;
    border-color: aliceblue transparent transparent transparent;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: aliceblue;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: aliceblue;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: aliceblue;
}

.loginstyle{
    color: aliceblue;
    font-weight: bold;
    MARGIN-top: 5%;
}
button {
  background-color: slategrey;
  color: aliceblue;
  font-weight: bold;
  padding: 5px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 10%;
    margin-bottom: 50px;
}
button:hover{
    background-color: #647381;
}
.myWriteBar {
    color: aliceblue;
    margin-bottom: 10px;
    background-color: rgba(0,0,0,0.35);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.20);
    top: 92px;
    width: 10%;
}